.button {
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

.highlighted {
    background-color: antiquewhite;
    border-width: 10px;
}

.scribbles {
    background: url('../assets/doodlesBottomSplash.png') bottom right no-repeat;
    background-size: 90%;
}

aside.mobileMenu {
    height: 0;
    width: 200px;
    overflow: hidden;
    position: fixed;
    z-index: 100;
    top: 23px;
    right: 15px;
    background-color: black;
    margin-top: 60px;
    transition: .25s;
    justify-content: space-between;

    .closeMenu {
        color: white;
        text-align: right;
        text-transform: uppercase;
        font-size: 10px;
        padding: 5px 5px 10px 5px;

        &:hover {
            cursor: pointer;
        }
    }

    .hamburgerLinks {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        z-index: 10;

        a {
            padding: 0.5rem;
            color: white;

            &:hover {
                background-color: white;
                color: black;
            }
        }
    }
}

nav {
    padding: 10px 50px 10px 25px;
    /*width: 100%;*/
    /*display: flex;*/
    gap: 20px;
    background-color: antiquewhite;
    align-items: center;

    img#icon {
        width: 60px;
        height: 60px;
    }

    img#hamburger {
        width: 60px;
        height: 60px;

        &:hover {
            cursor: pointer;
        }
    }

    a.left-side {
        display: flex;
        gap: 10px;
        padding: 0;
    }

    &.topNav {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        z-index: 100;

        #siteName {
            display: flex;
            flex-direction: column;
            gap: 0;

            h1 {
                margin: 0;
            }
        }
    }

    a {
        padding: 15px 20px;
        text-decoration: none;
        color: black;
        border-radius: 10px;

        &.current, &:hover {
            background-color: white;

            &.left-side {
                background-color: transparent;
            }

            &.button {
                color: black;
            }
        }
    }


    .iconButton {
        background-color: black;
        width: 30px;
        aspect-ratio: 1/1;
        padding: 4px 4px 1px 5px;

        svg {
            color: white;
        }

        &:hover {
            svg {
                color: black;
            }
        }
    }

    div#pageMenu {
        display: flex;
        gap: 20px;
    }

    &.bottomInfo {
        display: flex;
        justify-content: space-between;

        aside.boringInfo {
            max-width: 500px;

            p {
                font-size: 6pt;
            }
        }

        aside.bottomButtons {
            display: flex;
            justify-content: right;
            gap: 15px;
        }
    }
}

.deck {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px 15px;

    .cardLnk {
        text-decoration: none;
        color: black;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 6%;

        img {
            width: 100%;
            border-radius: 2px;

            &.shadowed {
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.14);
            }
        }

        &.widePanel {
            width: 86%;
        }

        h1 {
            padding: 5px 0 0 5px;
        }

        h3 {
            padding: 5px;
        }

        &.animatedRise {
            transition: 0.3s;
            margin: 10px 0 0 0;

            &:hover {
                margin: 0 0 10px 0;
            }
        }
    }
}